<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../../libs/mui/mui.min.css"/>
		<link rel="stylesheet" href="../../css/framecore/app/applist.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css"/>
	</head>

	<body>
		<div class="mui-content">
			<!--<div class="mui-bgd">
				<p>问题报告单</p>
				<ul class="icon-container">
					<li class="addProblemDetail">
						<span class="mui-icon iconfont icon-order-add icon-bg-blue"></span>
						<h5>创建</h5>
					</li>
					<li class="searchLink">
						<span class="mui-icon iconfont icon-chaxun icon-bg-green"></span>
					<h5>查询</h5>
					</li>
					<li>
						<span class="mui-icon iconfont icon-shenpi icon-bg-blue"></span>
						<h5>审批</h5>
					</li>
					<li>
						<span class="mui-icon iconfont icon-drxx37 icon-bg-orange"></span>
						<h5>审批中</h5>
					</li>
					<li>
						<span class="mui-icon iconfont icon-caogaoxiang icon-bg-green"></span>
						<h5>我的草稿</h5>
					</li>
				</ul>
			</div>-->
			
			<!--<div class="mui-bgd">
				<p>成品返修单</p>
				<ul class="icon-container">
					<li class="componentReceiveList">
						<span class="mui-icon iconfont icon-daibanshixiang icon-bg-orange"></span>
						<h5>待办列表</h5>
					</li>
					<li>
						<span class="mui-icon iconfont icon-jieshou icon-bg-orange"></span>
					<h5>待接收</h5>
					</li>
					<li>
						<span class="mui-icon iconfont icon-daifayun icon-bg-orange"></span>
						<h5>待发运</h5>
					</li>
					<li class="disputePoolList">
						<span class="mui-icon iconfont icon-wotichudezhengyi icon-bg-red"></span>
						<h5>争议产品</h5>
					</li>
					<li class="questionPoolList">
						<span class="mui-icon iconfont icon-wenti icon-bg-red"></span>
						<h5>问题成品</h5>
					</li>
					<li class="allComponentList">
						<span class="mui-icon iconfont icon-chengpin icon-bg-blue"></span>
						<h5>全部成品</h5>
					</li>
					<li class="confirmComponent">
						<span class="mui-icon iconfont icon-22fanxiutuihuan icon-bg-blue"></span>
						<h5>返修单确认</h5>
					</li>
				</ul>
			</div>-->
			
		</div>
	</body>

</html>
<script src="../../../libs/require/require.js" data-main="../../js/main" id="current-page" current-page ="framecore/app/applist" target-module="framecore/app/applist" defer async="true" ></script>
