<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../../libs/mui/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/framecore/me/about.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/problem/layer.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left">返回</a>
			<h1 class="mui-title">关于</h1>
		</header>
		<div class="mui-content">
			<div class="appLogo">
				<img src="../../images/logo.png"/>
			</div>
			<ul>
				<li><span class="tit">版本号</span><span class="right version">V1.0.0R</span></li>
				<!--<li id="introduce"><span class="tit">功能介绍</span><span class="right">></span></li>
				<li id="newVersion"><span class="tit">升级新版本</span><span class="right">></span></li>-->
			</ul>
			<div class="service">
			<!-- <div class="serviceTit">
				<span>服务与支持</span>
			</div>
			<div class="Qrcode">
				<img src="../../images/ewm.jpg"/>
			</div>
			<div class="serviceTit">

			</div>
			</div>
			<div class="licenseService">
				<a href="#" id='agreementHref'>安全协议</a>
			</div> -->
	</div>
		<!--<div id="serviceLayer" style="display: none;" class="layui-m-layer layui-m-layer0" index="1"><div class="layui-m-layershade"></div><div class="layui-m-layermain"><div class="layui-m-layersection"><div class="layui-m-layerchild  layui-m-anim-scale"><div class="layui-m-layercont">
			这里是功能介绍这里是功能介绍这里是功能介绍这里是功能介绍
		</div></div></div></div></div>
		<div id="mewLayer" style="display: none;" class="layui-m-layer layui-m-layer0" index="1"><div class="layui-m-layershade"></div><div class="layui-m-layermain"><div class="layui-m-layersection"><div class="layui-m-layerchild  layui-m-anim-scale"><div class="layui-m-layercont">
			第二个弹出框。
		</div></div></div></div></div>-->
	</body>

</html>
<script src="../../../libs/require/require.js" data-main="../../js/main" id="current-page" current-page="framecore/me/about" target-module="framecore/me/about" defer async="true"></script>
