<!doctype html>
<!-- 激活界面 -->
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../libs/mui/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../libs/mui/mui.picker.min.css" />
		<link href="../css/feedback/feedback.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/stock/addProblemDetail.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id ="backa">返回</a>
			<h1 class="mui-title">激活界面</h1>
		</header>
		<div id="pullrefresh" class="add-container mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
			<div class="mui-input-row">
				<span>激活源码:</span>
				<input  label="激活源码" id="auuid" type="text" datatype="*" placeholder="点击获取源码" onclick="getUuid()">
			</div>
			<div class="mui-input-row">
				<span>激活密码:</span>
				<input  label="激活密码"  id="mima"     placeholder="请输入激活密码" type="text">
			</div>
			<div class="mui-input-row">
				<span>自动算码:</span>
				<input  label="自动算码"  id="suanma"     type="text" onclick="suanma()">
			</div>
			<button type="submit" onclick="activate()">激活</button>
			
		</div>
		<!--加载中-->
	</body>
	<script src="../../libs/require/require.js" data-main="../js/main" id="current-page" current-page ="stock/addStock" target-module="stock/addStock" defer async="true" ></script>
		<script type="text/javascript" defer=true>
		//uuid 的加密解密方法调用
		function getUuid() {
			//随机获得一串字符串
			var b = Math.random().toString(36).substr(2);
			//把唯一的uuid赋值给输入框显示到界面
			$("#auuid").val(b);
		/* 	//加密方法
			var c = compileStr(b);
			alert(c)
			//解密方法
			var d = uncompileStr(c);
			alert(d); */
		}
		//写点无用的句子
		
		
		//判断验证激活方法   两个参数,一个是随机参数,一个是加密后的参数 
		function  activate(){
			var yuanma = $("#auuid").val();
			var jiamima =$("#mima").val();
			//把加密码转换成源码
			var zyuanma = uncompileStr(jiamima);
			alert(1)
			alert(zyuanma)
			//判断转换后的源码是否与自动生成的源码一致,然后进行判断
			if(zyuanma == yuanma){
				//调用后台方法,把后台字段的时间限制去掉
				alert("激活成功了！")
			}else{
				alert("激活码错误，请重新输入！！！")
			}
		}
		
		//自动算码方法
		function suanma(){
			var yuanma = $("#auuid").val();
			var sma = compileStr(yuanma);
			$("#suanma").val(sma);
			}
		//对随机字符串进行加密  
		function compileStr(code) {
			var c = String.fromCharCode(code.charCodeAt(0) + code.length);
			for (var i = 1; i < code.length; i++) {
				c += String.fromCharCode(code.charCodeAt(i) + code.charCodeAt(i - 1));
			}
			return escape(c);
		}
		
		//对随机字符串进行解密  
		function uncompileStr(code) { 
			code = unescape(code);
			var c = String.fromCharCode(code.charCodeAt(0) - code.length);
			for (var i = 1; i < code.length; i++) {
				c += String.fromCharCode(code.charCodeAt(i) - c.charCodeAt(i - 1));
			}
			return c;
		}
	</script>
	
	
	
	
</html>
