<!doctype html>
<!-- 激活界面 -->
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../libs/mui/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../libs/mui/mui.picker.min.css" />
		<link href="../css/feedback/feedback.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/stock/addProblemDetail.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id ="backa">返回</a>
			<h1 class="mui-title">激活界面</h1>
		</header>
		<div id="pullrefresh" class="add-container mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
			<div class="mui-input-row">
				<span>激活源码:</span>
				<input  label="激活源码" id="auuid" type="text"  placeholder="点击获取源码" readonly="readonly">
			</div>
			<div class="mui-input-row">
				<span>激活密码:</span>
				<input  label="激活密码"  id="mima"     placeholder="请输入激活密码" type="text">
			</div>
			<div class="mui-input-row">
				<span>自动算码:</span>
				<input  label="自动算码"  id="suanma"     type="text"  readonly="readonly" >
			</div>
			<button type="submit" id = "buttonActivate">激活</button>
			</br></br><a  class="mui-icon mui-icon-phone"  href="tel:13910716406">电话联系</a>
			&nbsp;&nbsp;&nbsp;&nbsp;<p  style="color: #0062CC;" class="mui-icon mui-icon-weixin"  href="javascript(0);" ></p><input value="13910716406"  readonly="readonly"/>
		
		</div>
		<!--加载中-->
	</body>
	<script src="../../libs/require/require.js" data-main="../js/main" id="current-page" current-page ="stock/activate" target-module="stock/activate" defer async="true" ></script>
</html>
