<!doctype html>
<!-- 创建货品 -->
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../libs/mui/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../libs/mui/mui.picker.min.css" />
		<link href="../css/feedback/feedback.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/stock/addProblemDetail.css"/>
		<style type="text/css">
		   .mui-scroll p{
			color: #000000;
			margin-top: 10px;
			padding-left: 15px;
		   }
		   .double-btn .subBth{
			display: block;
			width: 80%;
			margin: 0 auto;
		   }
		  </style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id ="backa">返回</a>
			<h1 class="mui-title">创建货品</h1>
<!-- 			<a id="delProblem" class="mui-icon mui-pull-right" style="display: none;">删除</a>
			<a id="progressBtn" class="mui-icon mui-pull-right" style="display: none;font-size: 16px;margin-top: 3px;">查看进度</a> -->
		</header>
		<div id="pullrefresh" class="add-container mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<p>货品名称:</p>
			<div class="mui-input-row">
				<input  label="货品名称" id="pname"     class="mui-input-speech"  type="text" datatype="*" placeholder="货品名称（必填）">
			</div>
			<div class="mui-input-row ">
				<input type="number" label="数量" id = "count" datatype="n" step="0.01"  placeholder="请输入数量（必填）">
			</div>
			<div class="mui-input-row ">
				<input type="text" label="单位" id = "unit" datatype="*"   placeholder="请输入单位（必填）">
			</div>
			<p>进货总价:</p>
			<div class="mui-input-row">
				<input  label="进货总价"  id="total"  label="进货总价"   placeholder="进货总价" type="text">
			</div>
			<p>货品单价:</p>
			<div class="mui-input-row">
				<input readonly="readonly"   id="price"   readonly="readonly"  placeholder="货品单价" type="text">
			</div>
			<p>进货时间:</p>
			<div class="mui-input-row batchButton">
				<button id="date" label="进货时间" data-selected="" datatype="*" class="mui-btn mui-btn-block" type="button">进货时间</button>
			</div>
			<div class="double-btn">
				<!-- <div class="btn-left"> -->
					<button type="button" id="saveStock" class="mui-btn mui-btn-primary subBth">保存</button>
				<!-- </div> -->
			</div>
			</div>
		</div>
		<!--加载中-->
		<div style="display: none;" id="defaultSubmit" class="layui-m-layer layui-m-layer2" index="0"><div class="layui-m-layershade"></div><div class="layui-m-layermain"><div class="layui-m-layersection"><div class="layui-m-layerchild  layui-m-anim-scale"><div class="layui-m-layercont"><i></i><i class="layui-m-layerload"></i><i></i><p>正在处理...</p></div></div></div></div></div>  
	</body>
	<script src="../../libs/require/require.js" data-main="../js/main" id="current-page" current-page ="stock/addStock" target-module="stock/addStock" defer async="true" ></script>
	
</html>
