<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../libs/mui/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id ="back"></a>
			<h1 class="mui-title"></h1>
			<a class="mui-icon mui-icon-plusempty  mui-pull-right" id="addstock" href="#topPopover"></a>
		</header>		
		
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item mui-active xiaoxiButton" href="task.html">
				<span class="mui-icon iconfont icon-xiaoxi"></span>
				<span class="mui-tab-label">商品展示</span>
			</a>
			<a class="mui-tab-item applistButton" href="maillist.html">
				<span class="mui-icon iconfont icon-yingyong"></span>
				<span class="mui-tab-label">盘点明细</span>
			</a>
			<a class="mui-tab-item wodeButton" href="me.html">
				<span class="mui-icon iconfont icon-wode"></span>
				<span class="mui-tab-label">个人中心</span>
			</a>
		</nav>
	</body>
<script src="../libs/require/require.js" data-main="js/main" id="current-page" current-page ="index" target-module="index" defer async="true" ></script>
</html>